.App {
  display: flex;
  flex-wrap: wrap;
  flex: 200px;
  align-items: center;
  justify-content: space-around;
  /*text-align: center;*/
}
article {
  flex: 1;
}

body{
  background-color: #282c34;
}
.counter {
  color: aliceblue;
  /*margin: auto;*/
  margin-top: 10px;
  /*margin: 30px 0px 0px 100px;*/
  height: 120px;
  width: 200px;
  border: 2px #09edf5 solid;
  padding: 40px;
  border-radius: 5px;
/*  background-color: black;*/
}
.display {
  margin: auto;
  width: 170px;
  height: 50px;
  border: 2px #09edf5 solid;
  /*background-color: #88f509;*/
  border-radius: 5px;
  padding: 10px;
  color: aliceblue;
}
.buttons_area {
  margin: auto;
  margin-top: 10px;
  width: 170px;
  height: 30px;
  border: 2px #09edf5 solid;
  border-radius: 5px;
  padding: 10px;
}
.red {
  color: red;
  font-size: xx-large;

}
.white {
  color: black;
  font-size: medium;
}
button {

  border-radius: 5px;
  background-color: #09edf5;
}

.valueInterface{

}

.inputs {
  width: 60px;
  height: 9px;
  margin-left: 5px;
}
.inputSpan{
  display: flex;
  flex-wrap: wrap;
  flex: 200px;
  align-items: center;
}